.product-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 206px;
    margin-left: 100px;
    margin-right: 80px;
}

@media screen and (max-width:1200px) {
    .product-cards{
        grid-template-columns:repeat(2, 1fr);
    }
    
}