.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1C2B35;
    height: 80px;
    width:100%;

}
.header img{
    margin-left: 112px;;
}

.header a{
    text-decoration: none;
    color: white;
    margin: 32px;
    font-size: 17px;
}
.header a:hover{
    color: orange;
}
.header .links{
    margin-right: 112px;
}
